body {
	font-family: sans-serif;
	width: 800px;
	margin: 0 auto;
	padding: 10px;
}

.post-subject {
	font-size: 24px;
	font-family: sans-serif;
	margin-bottom: 5px;
}

.post-date {
	font-size: 8px;
	margin-top: 8px;
}

.error {
	color: red;
}

label {
	display: block;
	font-size: 20px;
}

input[type=text] {
	width: 400px;
	font-size: 20px;
	padding: 2px;
}

textarea {
	width: 400px;
	height: 200px;
	font-size: 17px;
	font-family: arial;
}

input[type=submit] {
	font-size: 24px;
}
